systemLog:
    path: /data/ane56_27058/log/mongod_27058.log
    logAppend: true
    destination: file
processManagement:
    fork: true
    pidFilePath: /data/ane56_27058/data/27058.pid
net:
    bindIp: 172.17.17.59
    port: 27058
    maxIncomingConnections: 65535
storage:
    dbPath: /data/ane56_27058/data/
    journal:
        enabled: true
    directoryPerDB: true
    syncPeriodSecs: 60
    wiredTiger:
        engineConfig:
            cacheSizeGB: 10
operationProfiling:
    slowOpThresholdMs: 100
replication:
    oplogSizeMB: 10240
    replSetName: set2
sharding:
    clusterRole: shardsvr