systemLog:
    path: /data/ane56_27056/log/mongod_27056.log
    logAppend: true
    destination: file
processManagement:
    fork: true
    pidFilePath: /data/ane56_27056/data/27056.pid
net:
    bindIp: 172.17.17.59
    port: 27056
    maxIncomingConnections: 65535
storage:
    dbPath: /data/ane56_27056/data/
    journal:
        enabled: true
    directoryPerDB: true
    syncPeriodSecs: 60
    wiredTiger:
        engineConfig:
            cacheSizeGB: 150
operationProfiling:
    slowOpThresholdMs: 100
replication:
    oplogSizeMB: 10240
    replSetName: set1
sharding:
    clusterRole: shardsvr 